@using Microsoft.AspNetCore.Identity

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("dashboard")">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("showdrug")">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Medicine Data</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Adddrug")">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Add Medicine</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("show")">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Users</span>
            </a>
        </li>
       
    </ul>
</nav>