@model MM_demo_core.ViewModel.imgviewmodel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Panel</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Admin/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Admin/template/vendors/base/vendor.bundle.base.css">

    <script type="text/javascript" src="~/Content/template/js/product.js"></script>
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Admin/template/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Admin/template/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        @Html.Partial("_adminbar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            @Html.Partial("_panelbar")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-md-6 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Add Medicine</h4>
                                    <p class="card-description">

                                    </p>
                                    @*<form class="forms-sample" method="post" enctype="multipart/form-data">*@
                                    @using (Html.BeginForm("FileUpload", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="form-group">

                                            <label for="exampleInputUsername1">Medicine Name</label>
                                            <input type="text" class="form-control" asp-for="Ename" id="PrName" placeholder="Enter Medicine Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Medicine Prize</label>
                                            <input type="text" class="form-control" asp-for="Eprize" id="PrPrize" placeholder="Enter Medicine Price">
                                        </div>
                                        @*<div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>*@
                                        <div class="form-group">
                                            <label>Add Medicine Image</label>
                                            <input type="file" asp-for="ImageUrl3" id="file" accept="image/gif,image/jpeg,image/jpg,image/png" class="file-upload-default">
                                            <div class="input-group col-xs-12">
                                                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                                <span class="input-group-append">
                                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                                </span>
                                            </div>
                                        </div>
                                        <span id="elo" class="serr" style="color:red"></span><br/>
                                        
                                        <button type="submit" class="btn btn-primary me-2" onclick="return editproduct()">Submit</button>
                                        <button class="btn btn-light">Cancel</button>
                                    }
                                    @*</form>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 grid-margin stretch-card">
                            <img src="~/Content/template/images/m1.jpg" alt="image" />
                           
                        </div>
                       
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023 All Rights Reserved. Design by DDU Medical</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Admin/template/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/Admin/template/js/off-canvas.js"></script>
    <script src="~/Admin/template/js/hoverable-collapse.js"></script>
    <script src="~/Admin/template/js/template.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Admin/template/js/file-upload.js"></script>
    <!-- End custom js for this page-->
</body>

</html>

