<header class="header_section">
    
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
            <a class="navbar-brand" href="index.html">
                <img src="~/Content/template/images/logo.png" alt="">
                <span>
                    DDU Medical
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex  flex-column flex-lg-row align-items-center w-100 justify-content-between">
                    <ul class="navbar-nav ">
                       
                       <li class="nav-item active">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="medico">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="drug">Buy Medicine</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="cart">Cart</a>
                        </li>
                        
                    </ul>
                    <form class="form-inline" method="post" action="@Url.Action("search")">
                        <input type="search" name="search" placeholder="Search Here">
                        <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                    </form>
                    <partial name="_LoginPartial" />
                </div>
            </div>

        </nav>
    </div>
</header>